version: 2.1

environment:
  F1: cash.txt
  F2: cash_path.txt

jobs:
  Test_WorkS_create:
    docker: 
      - image: ubuntu
    steps:
      - run: 
          command: |
              echo "WS File" > WS.txt

#To save a cache of a file or directory, add the save_cache step to a job in your .circleci/config.yml file:
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - WS.txt

  Test_WorkS_restore:
    docker: 
      - image: ubuntu
    steps:
      - attach_workspace:
          at: /tmp/workspace

      - run: 
          command: |
            cat WS.txt
workflows:
  Cash_test:
    jobs:
      - Test_WorkS_create
      - Test_WorkS_restore:
          requires:
            - Test_WorkS_create
