version: 2.1

jobs:
  Test_Cash_create:
    docker: 
      - image: circleci/node:13.8.0
        environment:
          F1: cash.txt
          F2: cash_path.txt
    steps:
      - run: 
          command: |
            echo "I am a cash test" > $F1
            mkdir -p ./path
            echo "I am a cash test in path" > ./path/$F2

#To save a cache of a file or directory, add the save_cache step to a job in your .circleci/config.yml file:
      - save_cache:
          key: mytxt-v1
          paths:
            - $F1
            - ./path/$F2

  Test_Cash_restore:
    docker: 
      - image: circleci/node:13.8.0
        environment:
          F1: cash.txt
          F2: cash_path.txt
    steps:
      - restore_cache:
          keys: 
            - mytxt-v1
      - run: 
          command: |
            cat $F1
            cat ./path/$F2
workflows:
  Cash_test:
    jobs:
      - Test_Cash_create
      - Test_Cash_restore:
          requires:
            - Test_Cash_create
