version: 2.1

environment:
  F1: cash.txt
  F2: cash_path.txt

jobs:
  Test_Cash_create:
    docker: 
      - image: ubuntu
    steps:
      - run: 
          command: |
            apt update
            clear
            echo "START INSTALL APPACHE"
            apt install apache2 -y


#To save a cache of a file or directory, add the save_cache step to a job in your .circleci/config.yml file:
      - save_cache:
          key: var-v1
          paths:
            - myvar

  Test_Cash_restore:
    docker: 
      - image: ubuntu
    steps:
      - restore_cache:
          keys: 
            - var-v1
      - run: 
          command: |
            apt update
            clear
            echo "START INSTALL APPACHE"
            apt install apache2 -y
workflows:
  Cash_test:
    jobs:
      - Test_Cash_create
      - Test_Cash_restore:
          requires:
            - Test_Cash_create
